@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');


.work-sans-font {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* shared styles */
.display-flex, .teams {
    display: flex;
}

.text-primary{
    color: #e16709;
}

.text-gray{
    color: #525252;
}

/* note- this light gray is dark gray */
.text-light-gray{ 
    color: #171616;
}

.bg-light{
    background-color: rgba(255, 144, 14, 0.1);
}

.btn-primary{
    background-color: #e16709;
    color: antiquewhite;
    padding: 20px 25px;
    font-size: 1.25rem;
    font-weight: 600;
    border-radius: 8px;
    border: none;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}

main > section {
    margin-top: 130px;
}


.section-title{
    font-size: 2.8rem;
    font-weight: 500px;
}


/* header styles */

/* navbar related styles */
.navbar{
    justify-content: space-between;
    align-items: center;

}
.brand{
    font-weight: 700;
    font-size: 3rem;
}

.nav-item{
    list-style: none;
    margin-right: 30px;
    
}

.nav-links{
    text-decoration: none;
    font-weight: 500;
}

.navbar, .banner{
    max-width: 1440px;
    margin: 0 auto;
}

/* banner related styles */
.banner-content{
    max-width: 850px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 50px;
}
.banner-title{
    font-weight: 700;
    font-size: 4rem;
}
.banner-img{
    width: 100%;
}

/* Team and feature related style */
.teams{
    align-items: center;
}
.team-img-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
}

.our-features{
    margin-left: 130px;
    max-width: 530px;
}


#Quick-list{
    font-weight: 500px;
}

/* features related style */
#feature-sections-title{
    border-left: 5px solid #e16709;
    padding-left: 21px; ;
}

.features-section{
    display: flex;
    gap: 140px;
}

.feature-card{
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 30px 0 rgba(0, 0, 0, 0.25);
    margin-bottom: 20px;
}

.feature-card, .featur-title{
    font-weight: 600;
    font-size: 1.25rem;
    margin-top: 0;
    margin-bottom: 0;
    
}

#experience-badge{
    padding: 45px 42px;
    font-size: 1.5rem;
    font-weight: 500px;
    margin-left: -100px;
    margin-top: -100px;

}
#experience-year{
    font-size: 4rem;
    font-weight: 700px;
}



/* some fact related style */

.facts-container{
    display: grid;
    grid-template-columns:repeat(4, 1fr) ;
}

.fact-card,{
    border: 1px solid #e16709;
    width: 240px;
    height: 240px;
    border-radius: 8px;
    text-align: center;
    align-items: center;
    justify-content: center;

}
.fact-number{
    font-size: 2.8rem;
    font-weight: 600px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.fact-name{
    font-size: 1.25rem;
    font-weight: 600px;
    margin-top: 10px;
}
.fact-discription{
    max-width: 540px;
}

/* spomspre related style */
.sponsor-info{
    max-width: 540px;
    margin: 50px auto ;
    text-align: center;
}
.sponsore-copmpanies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 40px;
    align-items: center;
    justify-content: center;
}

.sponsore-copmpanies img{
    filter: grayscale();
}

.footer{
    background-color: #FFF4E7;
    text-align: center;
    padding: 10px auto;
}


/* responsive media query */
@media screen and (max-width: 576px){
    .navbar, .nav-links, .teams{
        flex-direction: column;
    }
    .team-img-container, 
    .sponsore-copmpanies,
    .facts-container{
        grid-template-columns: repeat(1, 1fr);
    }

    .facts-container{
        justify-items: center;
        gap: 24px;
    }
    .our-features{
        margin-left: 20px;
    }
    .sponsore-copmpanies{
        justify-items: center;
    }
}


/* medium size device */
@media screen and (min-width: 576px) and (max-width: 992px) {
    .teams{
        flex-direction: column;
    }
    .team-img-container,
    .sponsore-copmpanies,
    .facts-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .our-features{
        margin: 50px auto;
    }
        .sponsore-copmpanies{
        justify-items: center;
        gap: 50px;
    }
     .facts-container{
        justify-items: center;
        gap: 24px;
    }

}

